<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.my.ch.mapper.Mapper">
		<update id="write">
			insert into post (user_id,title,content,created_at,views) values ({userid},{title},{content},{now()},{views}); 
		</update>
		
		
		</mapper>
		